body {
background-color: #222629;
}
/*NAVIGATION*/
#Navigation{

}
li {
  float: left;
  list-style: none;
  border: 5px solid red;
  color: white;

}
li:hover{
  background-color: white;
  color: black;
}
div {
  position: fixed;
  left: 0;
  top: 0;
  width: 2000px;
  background-color: black;
  height: 80px;
}
